<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net configSource="log4net.config"/>
  <appSettings>
    <add key="KeyFileDirectory" value="c:\\ICCSPayAPI\\gzmtr_key"/>
    <add key="LogPath" value="c:\\ICCSPayAPI\\logs"/>
    <add key="BillPath" value="c:\\ICCSPayAPI\\bill"/>
    <add key="TicketFinishNotifyITUrl" value="http://192.168.80.129/wxpay/modules/ticketNotify.php"/>
    <add key="TicketFinishNotifyMemberSystemUrl" value="https://appv2.gzmtr.cn/api/ticket/upTicket"/>
    <add key="DB" value="DSN=icloud;Uid=ICCSPayApp;Pwd=3F8A2D9F-7E3F-4BED-B8A2-EF1C8A0A049A;"/>
    <!--支付结果通知回调url，用于商户接收支付结果-->
    <add key="Recv_WeiXin_NOTIFY_URL" value="http://ygp.gzmtr.cn/wxpay/notify_url.aspx"/>
    <add key="Recv_Alipay_NOTIFY_URL" value="http://ygp.gzmtr.cn/wxpay/alipay_notify_url.aspx"/>
    <!--日志等级，0.不输出日志；1.只输出错误信息; 2.输出错误和正常信息; 3.输出错误信息、正常信息和调试信息-->
    <add key="WeiXin_Log_Level" value="3"/>
    <!--设备ID检查开关，1为启用，0为关闭，无效设备响应“非法设备编码”-->
    <add key="IsCheckDeviceId" value="0"/>
    <!--有效设备ID列表，以“,”分隔-->
    <add key="ValidDeviceIdList" value=""/>
  </appSettings>
  <startup> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>
